<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="IrisConnection"
			 connectionString="Data Source=10.8.24.66,1433;
							 User ID=sa;
							 Password=cheadmin;
							 Connect Timeout=30;
							 Encrypt=True;
							 Trust Server Certificate=True;
							 Application Intent=ReadWrite;
							 Multi Subnet Failover=False;
							 Command Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>